#todoask {
    text-align: center;
    padding: 12px;
    margin: 5px 200px;
    background-color : rgba(106, 118, 118, 0.51);
    opacity: 0.8;
}
#todoask button{
    border-style: solid;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    background-color: rgb(38, 36, 36);
    color: azure;
    margin: 5px;
}
#todoask input, select{
    border-style: solid;
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(186, 183, 197);
    color: rgb(32, 36, 36);
    font-weight: bold;
    margin: 10px;
}

#todoelement {
    text-align: center;
    padding: 12px;
    margin: 5px 200px;
    background-color: rgba(156, 151, 172, 0.901);
    opacity: 0.8;
}
#todoitem {
    background-color: rgb(81, 78, 83);
    color: azure;
    border-radius: 5px;
    padding-left: 10px;
    text-align: left;
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    margin: 7px;
    align-items: center;
    justify-content: space-between;
}

#todoitem div input select {
    border-style: solid;
    border-radius: 5px;
    text-align: left;
    padding: 5px;
    background-color: rgb(202, 200, 211);
    color: rgb(32, 36, 36);
    margin: 10px;
}

#todoitem button{
    border-style: solid;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    background-color: rgb(38, 36, 36);
    color: azure;
    margin: 10px;
}